.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/
logs/
reports/
.snakemake/
.rds
references/
metadata/
results/*
!results/.gitkeep

# TARGET ngc key
*.ngc
._.DS_Store
data

exploration/merging-psi-tables/shiba_results/combined_run/target_pilot
exploration/merging-psi-tables/target_pilot/merged_results/
