.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/
logs/
reports/
.snakemake/
.rds
references/
metadata/
results/*
!results/.gitkeep

# TARGET ngc key
*.ngc
._.DS_Store
data

exploration/merging-psi-tables/target_pilot/merged_results/
exploration/merging-psi-tables/target_pilot/shiba_combined/*
!exploration/merging-psi-tables/target_pilot/shiba_combined/README.md
!exploration/merging-psi-tables/target_pilot/shiba_combined/report.json
